body {
  font-family: "Open Sans", sans-serif;
  text-align: center;

  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(244, 182, 246, 1) 100%
  );
}

.page {
  display: flex;
  justify-content: center;
}

.page-inner {
  max-width: 800px;
}

.header-image {
  width: 100%;
  max-width: 400px;
}

.main-title {
  font-family: "Caveat", cursiva;
  color: #d16cc1;
  font-size: 50px;
}

.chapter {
  color: #8c8888;
  font-size: 20px;
}

.chapter:hover {
  transform: scale(1.1);
}

.text {
  font-size: 15px;
  color: #3d3b3b;

  text-align: justify;
}

.accent {
  color: #d16cc1;
}

.img-right {
  display: flex;
  justify-content: flex-end;
}

.img-left {
  display: flex;
  justify-content: flex-start;
}

.header {
  animation-name: topdown;
  animation-duration: 700ms;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
