body {
  font-family: "Open Sans", sans-serif;
  text-align: center;

  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(244, 182, 246, 1) 100%
  );
}

.main-title {
  font-family: "Caveat", cursiva;
  color: #d16cc1;
  font-size: 50px;
}

.chapter {
  color: #8c8888;
  font-size: 20px;
}

.text {
  font-size: 15px;
  color: #3d3b3b;
  margin-left: 344px;
  margin-right: 344px;
  text-align: justify;
}

.accent {
  color: #d16cc1;
}

.img-right {
  margin-left: 500px;
}

.img-left {
  margin-right: 500px;
}
